:root{
    background-color: #f0c9ea;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}

.logo img{
    height: 80px;
}

.container{
    max-width: 650px;
    width: 90%;
    height: 70vh;
    background-color: #fff;
    border-radius: 1.5rem;

    margin: auto;
    margin-top: 1.25rem;

    box-shadow: 10px 9px 24px 3px rgba(64,61,61,0.69);    
}

.fields{
    margin: 1.5rem 1rem;
}

.pink_font{
    color: #E8258E;
}

#first_letter{
    color: #1159AA;
}

#second_letter{
    color: #E02F25;
}

#third_letter{
    color: #F4AA02;
}

#fourth_letter{
    color: #2E70E9;
}

#fifth_letter{
    color:#249B41;
}

#sixth_letter{
    color: #E83225;
}

.fields__title{
    display: flex;
    justify-content: center;
}

#field__title{
    font-weight: 800;
    font-size: 1.2rem;
    color: #3a3a3a;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.fields__textboxs{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    /*border: 1px solid red;*/
    margin-bottom: 2rem;
}

.fields__textboxs > input{
    height: 2.5rem;
    border: 1px solid silver;
    border-radius: .5rem;
    
}

.fields__remember{
    margin-bottom: 1.25rem;
}

#btnLogin{
    width: 100%;
    border: none;
    background-color: #E8258E;
    color: #fff;
    padding: 0.625rem;
    border-radius: 0.313rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

.fields__recovery{
    display: flex;
    justify-content: flex-end;
    margin-bottom: .5rem;
}

.fields__create{
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 800;
    align-items: flex-end;
    margin-top: 1.5rem;
}