:root{
    background-color: #f0c9ea;
}

.container{
    width: 80%;
    height: 70vh;
    background-color: #fff;
    border-radius: 1.5rem;

    margin: auto;
    margin-top: 5%;
 
    border: 1px solid blue;
}

.fields{
    margin: 1.5rem 2.5rem;
}

.pink_font{
    color: #E8258E;
}

#first_letter{
    color: #1159AA;
}

#second_letter{
    color: #E02F25;
}

#third_letter{
    color: #F4AA02;
}

#fourth_letter{
    color: #2E70E9;
}

#fifth_letter{
    color:#249B41;
}

#sixth_letter{
    color: #E83225;
}

#field__title{
    font-weight: 800;
    font-size: 18px;
}
